name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Update
      run: sudo apt-get update && sudo apt-get upgrade -y
    - name: Install dependencies
      run: sudo apt-get install -y libsodium-dev libseccomp-dev
    - name: make
      run: make
    - name: make test
      run: make test
